* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Pacifico', cursive; */
}
/* Header */

header {
    background-image: linear-gradient(
            to right,
            #ff6600,
            hsl(30deg 100% 1% / 20%)
        ),
        url(./img/slider.jpg);
    background-position: initial;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
}

.navbar-brand {
    font-size: 36px;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    border-color: white;
    box-shadow: none;
}

.form-control {
    padding: 20px;
}

.btn-mode {
    width: 24px;
    height: 24px;
    padding: 1px 0;
}

.btn-mode i.gg-moon {
    color: #eee;
    display: block;
}

.btn-mode i.gg-sun {
    display: none;
}

.btn-overlay i {
    color: #eee;
    display: inline-block;
    font-size: 31px;
    cursor: pointer;
}

.navbar .form-control {
    position: relative;
}

.navbar span.search__icon {
    position: absolute;
    right: 115px;
    font-size: 15px;
    color: rgba(22, 28, 45, 0.7);
}

.banner__content {
    text-align: left;
    max-width: 600px;
    margin-top: 100px;
}

.banner__content h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 54px;
    line-height: 64px;
    color: white;
    font-weight: 600;
}

.banner__content p {
    line-height: 26px;
    color: white;
    font-weight: 400;
    font-family: "Quicksand";
}

.btn-banner__content {
    border: 2px solid white;
    padding: 12px 45px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s;
    background: transparent;
}

.banner__content a.btn-banner__content {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.btn-banner__content:hover {
    background: white;
}

.banner__content a.btn-banner__content:hover {
    color: #ff6600;
}
/* Modal */

.modal.show .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
    position: fixed;
    z-index: 10;
}

.modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: rgba(3, 3, 3, 0.5);
}

.modal-header {
    border-bottom: none;
    align-items: flex-end;
}

.modal-header .close {
    padding: 0;
    margin-top: 30px;
    margin-right: 30px;
}

button.close {
    background: #ff6600;
}

.close {
    opacity: 1;
    color: white;
    border-radius: 6px;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.close:hover {
    color: white;
}

.modal.fade .modal-dialog {
    transform: scale(1);
}

.modal-body {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);
}

.modal-body ul {
    list-style: none;
    display: inline-block;
    height: 100%;
    position: relative;
}

.modal-body ul li {
    display: block;
    line-height: 3em;
}

.modal-body ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

.modal-body ul li a:hover {
    color: #ff6600;
}
/* about us */

.title_h3,
.intro-right h3 {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    color: #ff6600;
}

h6 {
    font-size: 45px;
    line-height: 3rem;
    font-weight: 100;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    color: var(--font-color);
    font-family: "Quicksand", sans-serif;
    color: rgba(22, 28, 45, 0.7);
}
.container-intro .row {
    margin-left: 0;
    margin-right: 0;
}

.intro-right h3:first-child {
    color: white;
    font-style: italic;
}

.intro-right h4 {
    font-size: 40px;
}

.intro-left_content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./img/blog2.jpg);
    position: relative;
    min-height: 550px;
    width: 100%;
    z-index: 1;
}
.intro-left_content::before {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.icon_content {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
}

.intro-right p {
    color: rgba(255, 255, 255, 0.7);
}

.container-intro {
    background-color: #ff6600;
}

.intro-right_icon h3 {
    color: #000000;
    font-family: "Quicksand", sans-serif;
}

.icon_content i {
    color: #ff6600;
    transition: 0.5s;
}

.icon_content i:hover {
    color: #ffc600;
}
/* categories */

.categories {
    background-color: #f7f7f7;
}

.categories__title p:first-child {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    color: #ff6600;
}

.categories__title h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
}

.categories__item {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.categories__item:hover {
    opacity: 0.8;
}

.categories .categories__img {
    position: relative;
}

.categories__img img {
    width: 100%;
    border-radius: 10px;
}

.categories .categories__detail {
    position: absolute;
    bottom: 0;
    left: auto;
    font-family: "Quicksand", sans-serif;
}
/* services */

.services__items {
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services__content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.icon {
    font-size: 20px;
    padding: 30px;
    background-color: rgba(130, 115, 252, 0.05);
    border-radius: 10px;
    color: #ff6600;
}

.services__items:hover .icon {
    color: #fff;
    background-color: #ff6600;
    transition: 0.3s;
}

.services__items .detail a {
    text-decoration: none;
    color: #000;
}

.services__items .detail:hover a {
    color: #ff6600;
}
/* blog post */

.blog {
    background-color: #f7f7f7;
}

.blog__title p:first-child {
    font-family: "Pacifico", cursive;
    color: #ff6600;
    font-size: 20px;
}

.blog__title h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
}

.blog__img {
    position: relative;
}

.blog__img img {
    width: 100%;
    border-radius: 5px;
}

.blog__about {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.blog__ava {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}

.blog__ava img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog__ava a {
    text-decoration: none;
}

.blog__about > a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.blog__about > a:hover {
    color: #ff6600;
}

.status {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.status a {
    padding: 2px 18px;
    background-color: #ff6600;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.status span {
    color: #fff;
}
/* feedback */

.feedback img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.slider_item {
    padding: 0 150px;
}

.slider_item h2 {
    color: #000;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
}
.feedback_title {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    color: #ff6600;
}
.feedback_content {
    font-size: 38px;
    font-weight: 600;
}
.feedback-title {
    font-style: italic;
}

.feedback-name {
    color: #232121;
}

.slick-dots {
    right: auto;
    left: -10px;
}

.feedback_slider h1 {
    font-family: "Pacifico", cursive;
    font-size: 20px;
    color: #ff6600;
    padding-top: 20px;
}
.feedback-text {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}
.slick-dots li.slick-active button:before {
    color: #ff6600;
    font-size: 10px;
}
.slick-dots li button:before {
    font-size: 10px;
    color: #656262;
}

/* footer */

.footer-left_icon a {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #ff6600;
    background-color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
}

.footer-left_content a:hover {
    color: white;
    background-color: #ff6600;
}

.container-footer {
    background-color: #000;
}

.container-footer_item p {
    color: rgb(255, 255, 255, 0.7);
}

.footer_title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer-center_left ul,
.footer-center_right ul {
    margin: 0;
    padding: 0;
}

.footer-center_left li,
.footer-center_right li {
    margin-bottom: 3px;
    list-style: none;
}

.footer-center_left a,
.footer-center_right a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}

.footer-center_left a:hover,
.footer-center_right a:hover {
    color: #ff6600;
}

.form-group button {
    width: 100%;
    background-color: #ff6600;
    padding: 20px;
    color: #fff;
    transition: 0.3s;
    border: none;
}

.form-control {
    font-size: 16px;
}

.btn:hover {
    background-color: #ff660080;
    color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 600px) {
    .footer-left_icon ul {
        justify-content: center;
    }
    .slider_item {
        padding: 0 0;
    }
    .intro-left_content {
        min-height: 200px;
        width: 100%;
        margin-top: 20px;
    }
    .container-copyright p.copy-footer-29 {
        text-align: center;
    }
}
@media screen and (max-width: 992px) {
    .intro-left_content {
        min-height: 200px;
        width: 100%;
        margin-top: 20px;
    }
    .container-copyright p.copy-footer-29 {
        text-align: center;
    }
}
/* copyright */
.container-copyright {
    padding: 1.2em 0;
    background: black;
    border-top: 1px solid rgb(255 255 255 / 5%);
}
.container-copyright p.copy-footer-29 {
    align-self: center;
    color: #ddd;
    font-size: 17px;
}
.container-copyright p.copy-footer-29 a {
    color: #ff6600;
}
.container-copyright p.copy-footer-29 a:hover {
    color: white;
}
.text-lg-right li {
    list-style: none;
}
.text-lg-right a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.7);
}
/* end copyright */

/* back to top */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 100px;
    z-index: 1;
}
/* Middle */

.middle {
    background-image: url(./img/countup.jpg);
    background-repeat: no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.middle::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.middle__content {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 50px;
}

.middle__text h1 {
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    max-width: 800px;
    line-height: 55px;
    font-family: "Quicksand", sans-serif;
}

.middle__btn {
    text-align: center;
}

.middle__btn a.middle__btn__left {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.middle__btn .middle__btn__left:hover {
    background: white;
}

.middle__btn a.middle__btn__left:hover {
    color: #ff6600;
}

.middle__btn__left {
    border: 2px solid white;
    padding: 12px 45px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s;
    background: transparent;
}

.middle__btn a.middle__btn__right {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.middle__btn .middle__btn__right {
    background: #ff6600;
    display: inline-block;
}

.middle__btn a.middle__btn__right:hover {
    opacity: 0.7;
}

.middle__btn__right {
    border: 2px solid #ff6600;
    padding: 12px 45px;
    border-radius: 6px;
    display: inline-block;
    font-weight: 700;
    transition: 0.5s;
    background: transparent;
}
/* Count Up */

.count {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.count__content .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.count__item {
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    text-align: center;
    border-radius: 6px;
}

.count__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: 0.3s;
}

.count__item span.fa {
    background: #ff6600;
    font-size: 26px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}

.count__item .number {
    font-size: 2.6em;
    font-weight: 600;
}

.count__item p {
    font-size: 18px;
    line-height: 28px;
    font-family: "Quicksand", sans-serif;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
}
/* Video */

.video__banner {
    background-image: url(./img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 6px;
}

.video__banner::before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    z-index: -1;
    min-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
}

.play-video {
    text-align: center;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
    border: none;
}

.mfp-close-btn-in .mfp-close {
    color: white;
}

.mfp-close {
    position: absolute;
    right: 0;
    top: -40px;
    font-size: 28px;
    text-align: center;
}

.video__banner a.play-video span.fa-play {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    text-align: center;
    border-radius: 50%;
    border: transparent;
    background: #fff;
    color: #ff6600;
    line-height: 80px;
    transition: 0.3s;
    animation: ripple 1s linear infinite;
}

.video__banner a.play-video span.fa-play:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    border: transparent;
    color: #fff;
    background: #ff6600;
}
/*-- play icon animation --*/

@-webkit-keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
            0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
            0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
            0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
            0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}
/*-- //play icon animation --*/
/* Responsive */

@media only screen and (max-width: 800px) {
    header {
        margin-top: 60px;
        min-height: 600px;
    }
    .banner__content h3 {
        font-size: 40px;
        line-height: 50px;
    }
}
/* Mobile */

@media only screen and (max-width: 739px) {
    .navbar .form-control,
    .navbar span.search__icon {
        display: none;
    }
    .banner__content h3 {
        font-size: 28px;
        line-height: 38px;
    }
    header {
        min-height: 450px;
    }
    .btn-banner__content {
        padding: 10px 21px;
    }
    .banner__content {
        max-width: 500px;
        margin-top: 30px;
    }
    .count {
        margin-top: 0px;
    }
    .middle__text h1 {
        font-size: 26px;
        line-height: 34px;
    }
    .middle__btn a.middle__btn__left,
    .middle__btn a.middle__btn__right {
        padding: 10px 21px;
    }
    .count__item .number {
        font-size: 1.8em;
    }
    .count__item p {
        font-size: 0.8em;
    }
    .count__item {
        padding: 30px 10px;
    }
    .video__banner {
        min-height: 300px;
    }
    .middle__content {
        padding: 0;
    }
}
/* Tablet */

@media only screen and (min-width: 740px) and (max-width: 1200px) {
    .middle__text h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
    .count {
        margin-top: 0px;
    }
    .count__item .number {
        font-size: 2.2em;
    }
    .video__banner {
        min-height: 400px;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .middle__content {
        padding: 0;
    }
}
/* Dark theme */

.dark#myBody {
    background: #232220;
}

.dark .btn-mode i.gg-sun {
    color: #eee;
    display: block;
}

.dark .btn-mode i.gg-moon {
    display: none;
}
/* dark navbar */
.dark .slick-prev {
    display: none;
}
.dark .slick-next {
    display: none !important;
}
.dark .navbar .form-inline input {
    background: #232220;
    border: none;
}

.dark .navbar .form-inline span {
    color: #c2d0da;
}
/* dark count up */

.dark .count .count__item {
    background: #232220;
    color: #eee;
}

.dark .count .count__item p {
    color: #c2d0da;
}
/* dark about us */

.dark .about h6,
.dark p {
    color: #eee;
}
/* dark intro */

.dark .container-intro .intro-right_content h4,
.dark .container-intro .intro-right_content h3 {
    color: #fff;
}
/* dark categories */

.dark .categories {
    background-color: #282828;
}

.dark .categories h3 {
    color: #eee;
}
/* dark services*/

.dark .services__items h4 a {
    color: #eee;
}

.dark .services__items {
    box-shadow: none;
    border: 1px solid rgba(63, 63, 63, 0.867);
}
/* dark blog post  */

.dark .blog {
    background-color: #282828;
}

.dark .blog__title h3,
.dark .blog__card .blog__detail h4,
.dark .blog__about a {
    color: #eee;
}

.dark .blog__detail p {
    color: #c2d0da;
}
/* dark feedback */

.dark .feedback .slider_item > h3,
.dark .feedback .slider_item > h2,
.dark .slider_item .feedback-name {
    color: #eee;
}
.dark .feedback_content {
    color: #eee;
}
.dark .slider_item p {
    color: #c2d0da;
}
/* dark footer */

.dark .footer p,
.dark .footer-left p,
.dark .footer-right p {
    color: #a5a2a1;
}

.dark .form-group input {
    background-color: #232220;
    border: none;
}

.dark .container-footer .footer-left_icon a {
    background-color: #232220;
}

.dark .container-footer .footer-left_icon a:hover {
    background-color: #ff6600;
}
